<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">

    <loading is-loading="isLoading && hasConnection"></loading>
    <no-connection has-connection="hasConnection"></no-connection>

    <div class="main-content" ng-if="(!isLoading && hasConnection)">
        <ion-content class="padding" ng-show="messages.length">
            <div class="card"
                 ng-repeat="msg in messages track by tracker(msg)"
                 ng-class="{ 'out-message': isMsgYours(msg), 'in-message': !isMsgYours(msg), 'sending': msg.isSending }">
                <div class="item item-divider msg-header">
                    <span class="name" ng-bind="isMsgYours(msg) ? 'Вы' : chat.name"></span>
                    <span class="time pull-right" ng-bind="msg.created | date : 'HH:mm'"></span>
                </div>
                <div class="item item-text-wrap msg-content" ng-bind="msg.text"></div>
            </div>
        </ion-content>

        <ion-content class="padding" ng-show="!messages.length" scroll="false">
            <div class="empty-chat-inspiration centered-block" ng-if="!messages.length">
                <div class="default-content">
                    <div class="text-top">Вы понравились друг другу</div>
                    <div class="rounded-image" cropped-image="user.photo" target-width="150"></div>
                    <div class="text-bottom">{{motivationalMsg}}</div>
                </div>
            </div>
        </ion-content>

        <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Ваше сообщение" on-return="sendMessage()" ng-model="activeMessage.text" on-focus="inputUp()" on-blur="inputDown()" />
            </label>
            <button class="button button-clear ion-play" ng-click="sendMessage()" ng-disabled="!activeMessage.text"></button>
        </ion-footer-bar>
    </div>
</ion-view>