<ion-view view-title="Совпадения">
  <ion-content>
    <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/main/matches/{{chat.id}}">
        <img ng-src="{{chat.user.photo.src}}">
        <h2>{{chat.user.firstName}}</h2>
        <p>{{chat.message.text}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
