.profile-details {
  .slider-slides {
    padding-top: $bar-height;
  }
  .slider-pager {
    top: ($bar-height - 15px) / 2;
  }
  .profile-details-name {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .profile-details-distance {
    padding-left: 2px;
    color: #717070;
  }
}