.profile-details {
  .slider-slides {
    padding-top: $bar-height;
  }
  .slider-pager {
    top: ($bar-height - 15px) / 2;
  }
  .profile-details-text {
    margin: 5px 0;
    position: relative;
    .profile-details-name {
      font-size: 30px;
    }
    .profile-details-distance {
      display: inline-block;
      position: absolute;
      right: 0;
      bottom: 0;
      color: #717070;
    }
  }
}