@mixin scale($factor) {
  -webkit-transform: scale($factor);
  transform: scale($factor);
}

@mixin translate3d($x: 0, $y: 0, $z: 0) {
  -webkit-transform: translate3d($x,$y,$z);
  transform: translate3d($x,$y,$z);
}

@mixin scale-without-offset($scaleFactor) {
  -webkit-transform: scale($scaleFactor);
  transform: scale($scaleFactor);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}