.item.description {
  overflow: auto;
  white-space: normal;
  text-align: justify;
  &:after {
    width:100%;
    height:0;
    display: inline-block;
    content: " __________________________________________________________";
    line-height: 0;
    visibility: hidden
  }
}

.top-label {
  display: inline-block;
}

$photoSettingsGutter: 15px;
.distance-label {
  display: inline-block;
  float: right;
  font-weight: 700;
}

.photos-settings {
  padding: 10px;
  line-height: 0;

  .photo {
    display: inline-block;
  }
  
  [ng-drag] {
    background-color: #ffffff;
  }
  
  .selected {
    img {
      opacity: 0.8;
    }
  }

  .bg-icon-container {
    position: absolute;
    text-align: center;
    color: $positive;
    border: 3px dashed $positive;
  }

  .first-row, .second-row {
    font-size: 0;
  }

  .first-row .small-photos {
    display: inline-block;
    margin-left: $photoSettingsGutter ;
    .photo {
      &:first-child {
        margin-bottom: $photoSettingsGutter;
      }
    }
  }

  .second-row {
    margin-top: $photoSettingsGutter;
    .photo {
      margin-right: $photoSettingsGutter;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}