/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

@import "overrides";

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import 'www/lib/ionic/scss/ionicons/ionicons-animation';

@import 'www/lib/devices.css/assets/scss/devices';

@import 'mixins';
@import 'fonts';
@import 'layout';
@import 'devices-mockups';
@import 'login';
@import 'cards';
@import 'chats';
@import 'settings';
@import 'details';

