<ion-view>
    <ion-nav-title>{{profileDetails.firstName}}</ion-nav-title>
    <clever-loader is-seen="true" with-no-connection-banner="true"></clever-loader>

    <div class="main-content" ng-if="isContentSeen">
        <ion-content scroll="false" class="profile-details">
            <ion-slide-box show-pager="true">
                <ion-slide class="" ng-repeat="photo in profileDetails.photos">
                    <div cropped-image="photo" target-width="screenWidth"></div>
                </ion-slide>
            </ion-slide-box>
            <div class="padding">
                <div class="dark profile-details-name">{{profileDetails.firstName}}, {{profileDetails.age}}</div>
                <div class="profile-details-distance">{{distance}}км от Вас</div>
            </div>
        </ion-content>
    </div>
</ion-view>