<ion-view view-title="{{profileDetails.firstName}}">
    <loading is-loading="isLoading && hasConnection"></loading>
    <no-connection has-connection="hasConnection"></no-connection>

    <ion-content scroll="false" class="profile-details" ng-if="(!isLoading && hasConnection)">
        <ion-slide-box show-pager="true">
            <ion-slide class="" ng-repeat="photo in profileDetails.photos">
                <div cropped-image="photo" target-width="screenWidth"></div>
            </ion-slide>
        </ion-slide-box>
        <div class="padding">
            <h2 class="dark">{{profileDetails.firstName}}, {{profileDetails.age}}</h2>
        </div>
    </ion-content>
</ion-view>