<?xml version="1.0" encoding="UTF-8"?>
<plugin
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.akveo.cordova-vk"
        version="0.1.0">

    <name>cordova-vk</name>
    <description>Cordova plugin for integration with vksdk</description>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <license>Apache 2.0 License</license>
    <author>Akveo</author>
    <keywords>cordova,phonegap,vkontakte,vksdk</keywords>
    <js-module src="www/vksdk.js" name="VkSdk">
        <clobbers target="VkSdk" />
    </js-module>
    <!-- ios -->
    <platform name="ios">
        <preference name="VK_APP_ID" />
        <info>
            You need to register VKontakte application first.
        </info>
        <config-file target="config.xml" parent="/*">
            <feature name="VkSdk">
                <param name="ios-package" value="VkSdkPlugin"/>
            </feature>
        </config-file>

        <header-file src="src/ios/VkSdkPlugin.h"/>
        <source-file src="src/ios/VkSdkPlugin.m" />
        <framework src="src/ios/VKontakte.framework" custom="true"/>
        <resource-file src="src/ios/VKSdkResources.bundle" />

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string>$VK_APP_ID</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$VK_APP_ID</string>
                    </array>
                </dict>
            </array>
        </config-file>
    </platform>

    <!-- android -->
    <platform name="android">
        <info>
            You should add 'android.library.reference.2=vksdk_library' to project.properties
        </info>
        <!-- Cordova 2.5+ -->
        <config-file target="config.xml" parent="/*">
            <feature name="VkSdk">
                <param name="android-package" value="com.akveo.cordovavk.VkSdkPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.vk.sdk.VKOpenAuthActivity" >
            </activity>
        </config-file>

        <source-file src="src/android/vksdk_library" target-dir="./" />
        <source-file src="src/android/com/akveo/cordovavk" target-dir="src/com/akveo/cordovavk" />
    </platform>

</plugin>